doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title 启航2020考研直播间_腾讯课堂
        link(rel='stylesheet', href='/stylesheets/user.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/iconfont-embedded.css')
    body
        header#js_main_nav.header-index
            .header-index-inner.clearfix
                a.header-index-logo(href='/ke_qq/')
                .header-index-category-text
                    i.icon-font.i-list-index
                    a(href='javascript:void(0);', title='分类') 分类
                .header-index-text
                    .header-index-download
                        p.download-tt 下载
                        ul.dropdown-list
                            li
                                a(href='javascript:void(0);') Win客户端
                            li
                                a(href='javascript:void(0);') Mac客户端
                            li
                                a(href='javascript:void(0);') App客户端
                    .header-index-private-msgs
                        a(href='javascript:void(0);') 私信
                    .login
                        .header_wrap-user
                            p.header_user-name
                                a(href='javascript:void(0);')
                                    img.header_user-avatar(src=user.avatar, alt='头像')
                                    span.header_username #{user.mobile}
                            ul.mod-header__user-operations.dropdown-list
                                li
                                    a.mod-header__user-operation.js-userinfo(href='/ke_qq/user') 个人信息
                                li
                                    a.js_logout.mod-header__link-logout.js-login-op(href='/ke_qq/logout', data-hook='logout') 退出登录
        section.inner-center
            .wrapper-user_avatar
                img.user_avatar(src=user.avatar)
            .wrapper-contact
                h1.wrapper-tt 个人信息
                .wrapper-bd
                    .contact-box
                        .contact-box-hd
                            h2 手机号码
                            a(href='javascript:void(0);') 修改
                        .contact-box-bd
                            span.description #{user.mobile}
                    .contact-box
                        .contact-box-hd
                            h2 创建时间
                        .contact-box-bd
                            span.description #{user.created_time}
        .ptlogin-wrap
            .input_user-avatar
                h2 修改用户头像
                .user-avatar-img
                    .local-img
                    .to_change_avatar
                        form(action='/ke_qq/user_avatar', method='post')
                            .show_local-img
                                img#my_local_img
                            label.xFile(for='xFile')
                                img(src='/images/ke_qq/8.ico')
                            input#xFile(type='file', name='img')
                            input(type='submit' value='确认更换')
        footer.footer
            span.im-icon.icon-font.i-logo(title='腾讯课堂_专业的在线教育平台')
            p Copyright © 2019 Tencent. All Rights Reserved.
            p
                | 深圳市腾讯计算机系统有限公司 版权所有
                a(href='//ke.qq.com/proService.html', target='_blank', rel='nofollow') 腾讯课堂服务协议
                |
                a(href='//ke.qq.com/sitemap.html', target='_blank') 站点地图
    script(src='/javascripts/user.js', type='text/javascript')